/* Slide 70 (#2) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-70-b03a3227"] */
.slide[data-cid=slide-70-b03a3227] .info-70 {
  padding: 13%;
}

/* Slide 70 (#3) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-70-4f1556a2"] */
.slide[data-cid=slide-70-4f1556a2] .info-70 {
  padding: 13%;
}

/* Slide 141 (#4) */
/* To restrict styles to the current slide, panel, or example use .slide[data-cid="slide-141-5ec45a41"] */
@media (max-width: 767px) {
  .slide[data-cid=slide-141-5ec45a41] .box-141-center {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 1024px) {
  .slide[data-cid=slide-141-5ec45a41] .box-141-right {
    margin-top: -100px;
  }
}
